:root {
	--primary-color: rgb(20, 24, 28);
	--secondary-color: rgb(0, 120, 110);
	--accent-color: rgb(236, 40, 100);
	--bg-color: rgb(250, 255, 255);
	--header-bg-color: rgb(210, 225, 235);
	--box-color: rgb(230, 245, 245);
	--button-color: rgb(150, 155, 170);
	--opp-txt-color: rgb(255, 255, 255);
	--backdrop-color: rgb(255, 255, 255, 0.5);
	--shadow-color: rgba(0, 0, 0, 0.3);
	--name-color: rgb(0, 160, 170);
	--table-row-odd: rgb(245, 250, 250);
	--table-row-even: rgb(225, 240, 240);
	--table-header-bg: rgb(210, 230, 235);

}

.dark-mode {
	--primary-color: rgb(248, 248, 242);
	--secondary-color: rgb(100, 220, 160);
	--accent-color: rgb(236, 100, 140);
	--bg-color: rgb(25, 26, 35);
	--header-bg-color: rgb(68, 71, 90);
	--box-color: rgb(55, 58, 78);
	--button-color: rgb(200, 160, 90);
	--opp-txt-color: rgb(0, 0, 0);
	--backdrop-color: rgb(25, 26, 35, 0.5);
	--shadow-color: rgba(255, 255, 255, 0.1);
	--name-color: rgb(80, 250, 123);
	--table-row-odd: rgb(40, 42, 55);
	--table-row-even: rgb(55, 58, 75);
	--table-header-bg: rgb(68, 71, 90);

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Georgia', sans-serif;
	transition: 500ms;
	line-height: 1.2;
}

section {
	margin: 100px auto;
	width: 70%;
	max-width: 100%;
}

section h2 {
	max-width: 100%;
	text-align: center;
	color: var(--primary-color);
	padding: 40px 0;
	font-size: 2rem;
}
section h3 {
	margin-top: 15px;
}

/* Theme toggle */
#theme-switch {
	position: fixed;
	bottom: 10px;
	right: 7px;
	width: 40px;
	height: 40px;
	background: var(--bg-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 1002;
	background: var(--primary-color);
}

#theme-switch svg {
	width: 25px;
	height: 25px;
	fill: var(--button-color);
}

#theme-switch svg:last-child {
	display: none;
}

.dark-mode #theme-switch svg:first-child {
	display: none;
}

.dark-mode #theme-switch svg:last-child {
	display: block;
}

@media (max-width: 500px) {
	#theme-switch {
		width: 30px;
		height: 30px;
	}
	
	#theme-switch svg {
		width: 18.75px;
		height: 18.75px;
	}
}

body {
	background: var(--bg-color);
	color: var(--primary-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 40px;
	padding: 0;
	margin: 0;
}

nav{
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--header-bg-color);
	height: 70px;
	position: fixed;
	z-index: 1001;
}

.name a {
 	color: var(--name-color);
	text-decoration: none;
	font-size: 1.7rem;
}

nav ul{
	display: flex;
	gap: 40px;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	text-decoration: none;
	color: var(--secondary-color);
}

.menu-icon {
	display: none;
}

.menu-icon i {
	color: var(--primary-color);
	font-size: 30px;
}

nav li:hover {
	transform: scale(1.05);
}

nav li a:hover, 
.name a:hover{
	color: var(--accent-color)
}

@media (max-width: 950px) {
	nav ul{
		position: absolute;
		top: 70px;
		left: 0;
		right: 0;
		flex-direction: column;
		text-align: center;
		gap: 0;
		overflow: hidden;
		z-index: 1001;
		background: var(--backdrop-color);
		backdrop-filter: blur(8px);
	}

	nav ul li {
		padding: 40px;
	}
	.menu-icon {
		display: block;
	}
	
}

/* Shared “card” styles */
.skills-container:hover,
.education-item:hover,
.certification-item:hover {
	transform: scale(1.05);
	box-shadow: 0 12px 30px var(--shadow-color)
}

/* About Me */
.intro-about {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.profile-container {
	max-width: 420px;
	min-width: 320px;
	padding: 40px;
	gap: 10px;
}

.profile-image {
	width: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid var(--secondary-color);
}

.about {
	padding:20px 40px 40px 40px;
	width: 65%;
	text-align: center;
	background-color: var(--box-color);
	border-radius: 2rem;
	height: 500px;
	overflow-y: auto;
}

.about::-webkit-scrollbar {
	display: none;
}

.about p {
	line-height: 1.7;
	margin-bottom: 20px;
}

.profile-image:hover,
.about:hover {
	transform: scale(1.05);
	border-color: var(--accent-color);
	box-shadow: 0 12px 30px var(--shadow-color);
}



@media (max-width: 900px) {
	.intro-about {
		flex-direction: column;
	}
	
	.about {
		width: 100%;
		margin: 0 auto;
		padding: 20px 20px 40px 20px;
	}
}

/* Skills */
.skills-container {
	display: flex;
	flex-direction: column;
	background: var(--box-color);
	border-radius: 2rem;
	height: 540px;
	overflow-y: auto;
}

.skills-container::-webkit-scrollbar {
    display: none;
}

.skills-category {
	padding: 20px;
}

.skills-category h3 {
	color: var(--secondary-color);
	border-bottom: 2px solid var(--primary-color);
	text-align: center;
}

.skills-category ul {
	list-style: none;
	margin: 0 20px;
}

.skills-category li {
	position: relative;
	padding: 0 20px;
	margin: 20px 10px;
}

.skills-category li::before {
	content: "✔";
	color: var(--secondary-color);
	position: absolute;
	left: 0;
}

/* Projects slider */

.slider-wrapper {
	position: relative;
	max-width: 90%;
	margin: 0 auto;
}

.slider-container {
	overflow: hidden;
	background: none;
	height: 530px;
	border-radius: 2rem;
}

.slider-container:hover {
	transform: scale(1.02);
	box-shadow: 0 6px 15px var(--shadow-color);
}

.slider-track {
	display: flex;
	transition: 0.5s ease-in-out;
}

.project-card {
	min-width: 100%;
	background-color: var(--box-color);
	border-radius: 2rem;
	padding: 20px 40px 0 40px;
	display: flex;
	flex-direction: column;
	height: 530px;
	overflow-y: auto;
}

.project-card::-webkit-scrollbar {
    display: none;
}

.project-title {
	font-size: clamp(18px, 1.2vw, 26px);
	color: var(--secondary-color);
	margin-bottom: 40px;
}

.project-info ul {
	list-style: none;
	padding: 40px 0 0 0;
	font-size: 1.1rem;
}

.project-info li {
	padding: 10px 0;
}

.slider-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: var(--secondary-color);
	border: none;
	font-size: 2rem;
	border-radius: 2rem;
	opacity: 0.5;
	cursor: pointer;
	padding: 0.3rem 0.6rem;
}

.slider-btn:hover {
	background: var(--accent-color);
	opacity: 1;
}

.slider-btn.prev {
	left: -60px;
}

.slider-btn.next {
	right: -60px;
}

.read-more-link {
	display: inline-block;
	padding: 0.5rem 1rem;
	background: var(--secondary-color);
	color: var(--opp-txt-color);
	border-radius: 0.5rem;
	text-decoration: none;
	opacity: 0.5;
	margin: 20px 0 0 0;
}

.read-more-link:hover {
	background-color: var(--accent-color);
	transform: translateY(-2px);
	opacity: 1;
}

/* Education */

.education-item{
	margin: 40px 20px 80px 20px;
	background: var(--box-color);
	border-radius: 2rem;
}

.education-row{
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	padding: 20px 20px;
}

.education-row-mobile{
	font-weight: bold;
	padding: 40px 20px;
	display: none;
}

@media (max-width: 768px) {
	.education-row{
		display: none;
	}

	.education-row-mobile{
		display: flex;
	}
}

.edu-university,
.edu-date {
	font-size: 1.2rem;
	color: var(--secondary-color);
	padding: 0 20px 20px 20px;
}

.education-paragraph{
	padding: 0 40px 20px 40px;
}

/* Contact */

.contact-info {
	width: 100%;
	margin: 0 auto 40px auto;
	text-align: center;
	font-size: 1.1rem;
	color: var(--primary-color);
	line-height: 1.6;
	background-color: var(--box-color);
	padding: 20px;
	
}

.contact {
	display: flex;
	justify-content: center;
	font-size: 40px;
}

.contact ul {
	display: flex;
	gap: 80px;
	list-style: none;
	padding: 40px;
}

.contact li {
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: clamp(16px, 5vw, 120px);
	padding-right: clamp(16px, 5vw, 120px);
	color: var(--secondary-color);
	font-size: 60px;
}

.contact a {
	color: var(--secondary-color);
}

.contact a:hover {
	color: var(--accent-color);
}

@media (max-width: 600px) {
	.contact ul {
		display: flex;
		flex-direction: column;
	}
}

/* Footer */
footer {
	text-align: center;
	color: var(--secondary-color);
	padding-top: 200px;
}