:root {
	--primary-color: #12161a;
	--secondary-color: #1f719d;
	--accent-color: #ec1458;
	--bg-color: #f7fdfd;
	--header-bg-color: #dce6ea;
	--box-color: #e1efef;
	--button-color: #b2a4bb;
	--opp-txt-color: white;
}

.dark-mode {
	--primary-color: #dcdcdc;
	--secondary-color: #b9c1df;
	--accent-color: #ff79c6;
	--bg-color: #1e1f29;
	--header-bg-color: #323345;
	--box-color: #2c2e3e;
	--button-color: #e06011;
	--opp-txt-color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Georgia', sans-serif;
	transition: 500ms;
}

section {
	margin: 100px auto;
	width: 70%;
	max-width: 100%;
}

section h2 {
	max-width: 100%;
	text-align: center;
	color: var(--primary-color);
	padding: 40px 0;
}
section h3 {
	margin-top: 15px;
}

/* Theme toggle */
#theme-switch {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	background: var(--bg-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 1002;
}

#theme-switch svg {
	width: 25px;
	height: 25px;
	fill: var(--button-color);
	transition: fill 0.3s ease;
}

#theme-switch svg:last-child {
	display: none;
}
.dark-mode #theme-switch svg:first-child {
	display: none;
}
.dark-mode #theme-switch svg:last-child {
	display: block;
}

@media (max-width: 500px) {
	#theme-switch {
		width: 30px;
		height: 30px;
	}
	
	#theme-switch svg {
		width: 18.75px;
		height: 18.75px;
	}
}

body {
	background: var(--bg-color);
	color: var(--primary-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 40px;
	padding: 0;
	margin: 0;
}

nav{
	width: 100%;
	padding: 10px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--header-bg-color);
	position: fixed;
	height: 70px;
	z-index: 1001;
}

.name a {
	color: var(--primary-color);
	text-decoration: none;
}

nav ul{
	display: flex;
	gap: 30px;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	text-decoration: none;
	color: var(--secondary-color);
}

.menu-icon {
	display: none;
}

.menu-icon i {
	color: var(--primary-color);
	font-size: 30px;
}

nav li:hover {
	transform: scale(1.1)
}
nav li a:hover, 
.name a:hover{
	color: var(--accent-color)
}

@media (max-width: 950px) {
	nav ul{
		position: absolute;
		top: 70px;
		left: 0;
		right: 0;
		flex-direction: column;
		text-align: center;
		background: var(--box-color);
		gap: 0;
		overflow: hidden;
		z-index: 1001;
	}

	nav ul li {
		padding: 20px;
	}
	.menu-icon {
		display: block;
	}
}

/* Shared “card” styles */
.skills-container,
.education-item,
.certification-item {
	margin: 40px 10px;
	background: var(--box-color);
	border-radius: 2rem;
}


.skills-container:hover,
.education-item:hover,
.certification-item:hover {
	transform: scale(1.1);
	box-shadow: 0 12px 30px rgba(0,0,0,0.3);
}

.intro-about {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.profile-container {
	max-width: 420px;
	min-width: 320px;
	padding: 40px;
	gap: 10px;
}

.profile-image {
	width: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid var(--secondary-color);
}

.about {
	padding: 0 20px 20px 20px;
	text-align: center;
	background-color: var(--box-color);
	border-radius: 2rem;
}

.profile-image:hover,
.about:hover {
	transform: scale(1.05);
	border-color: var(--accent-color);
}

.about p {
	line-height: 1.7;
}

/* Skills */
.skills-container {
	display: flex;
	flex-direction: column;
}
@media (min-width: 768px) {
	.skills-container {
		flex-direction: row;
	}
}
.skills-category {
	flex: 0.7;
	padding: 2rem;
}
.skills-category h3 {
	color: var(--secondary-color);
	border-bottom: 2px solid var(--primary-color);
	text-align: center;
	margin-bottom: 2rem;
}
.skills-category ul {
	list-style: none;
	padding-left: 20px;
}
.skills-category li {
	position: relative;
	padding-left: 1.5rem;
	margin-bottom: 0.8rem;
}
.skills-category li::before {
	content: "✔";
	color: var(--secondary-color);
	position: absolute;
	left: 0;
}

/* Projects slider */
#projects {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.slider-wrapper {
	position: relative;
	max-width: 85%;
	width: 100%;
	overflow: visible;
	margin: 0 auto;
}

.slider-container {
	overflow: hidden;
	background-color: var(--box-color);
	height: 400px;
	padding: 50px 0;
	border-radius: 2rem;
	overflow-x: auto;
  	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;
	touch-action: auto;
}

.slider-container::-webkit-scrollbar {
  	width: 0;
  	height: 0;
	display: none;
}

.slider-track {
	display: flex;
}

.project-card {
	min-width: 100%;
}

.project-title {
	font-size: 1.2rem;
	color: var(--secondary-color);
	padding: 0 50px 50px 50px;
}

.project-info {
	display: flex;
	flex-direction: column;
	padding: 0 50px;
}

.project-info ul {
	list-style-type: none;
}

.project-info li {
	padding: 10px 0;
}

.slider-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: var(--secondary-color);
	border: none;
	font-size: 2rem;
	border-radius: 0.5rem;
	opacity: 0.6;
	cursor: pointer;
	padding: 0.3rem 0.6rem;
}

.slider-btn:hover {
 	background: var(--accent-color);
  	opacity: 1;
}

.slider-btn.prev {
  	left: -70px;
}

.slider-btn.next {
  	right: -70px;
}

.read-more-link {
	display: inline-block;
	padding: 0.5rem 1rem;
	background: var(--secondary-color);
	color: var(--opp-txt-color);
	font-weight: 600;
	border-radius: 0.5rem;
	text-decoration: none;
	opacity: 0.6;
}

.read-more-link:hover {
	background-color: var(--accent-color);
	opacity: 1;
	transform: translateY(-2px);
}


/* Education & Certifications */
.education-row,
.certification-row {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	padding: 20px 20px;
}

.education-row-mobile,
.certification-row-mobile {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	padding: 20px 20px;
	display: none;
}

@media (max-width: 560px) {
	.education-row,
	.certification-row {
		display: none;
	}

	.education-row-mobile,
	.certification-row-mobile {
		display: flex;
	}
}

.edu-university,
.edu-date {
	font-size: 1.1rem;
	color: var(--secondary-color);
	padding: 0px 20px;
}

.education-paragraph,
.certification-paragraph {
	padding: 0 40px 20px 40px;
}

/* Contact */
.contact {
	display: flex;
	justify-content: center;
	font-size: 40px;
}
.contact ul {
	display: flex;
	gap: 80px;
	list-style: none;
	padding: 40px;
}
.contact li {
	padding: 60px 60px;
}
.contact a {
	color: var(--secondary-color);
}

.contact li a:hover {
	color: var(--accent-color);
}

.contact li:hover {
	transform: scale(1.2);
}

@media (max-width: 768px) {
	.contact li {
		padding: 60px 30px;
	}

}

@media (max-width: 540px) {
	.contact li {
		padding: 0;
	}

}

@media (max-width: 400px) {
	.contact ul {
		display: flex;
		flex-direction: column;
	}

}

/* Footer */
footer {
	text-align: center;
	color: var(--secondary-color);
}